.card-small {

  background-color: #ffffff; /* Fondo blanco para modo claro */
  color: #000000; /* Texto negro para modo claro */
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 24px; /* Ajustar padding según sea necesario */
  min-height: 300px;
  max-height: 394px;
}
.card-small.dark {
  background-color: #000000; /* Fondo negro para modo oscuro */
  color: #ffffff; /* Texto blanco para modo oscuro */
  border: 1px solid hsl(240, 1%, 14%);
  padding: 24px; /* Ajustar padding según sea necesario */
  min-height: 300px;
  max-height: 394px;
}


.chart-container-small {
  position: relative;
  
  width: 100%;
  overflow: hidden;
 
  margin-top: 20px; /* Añadir margen superior */
}

.chart-container-small-bar {
  position: relative;
  
  width: 100%;
  flex: 1;
  z-index: 1;
}
.chart-container-small-bar.dark {
  background-color: #000000; /* Fondo negro para modo oscuro */
  margin-top: 20px; /* Añadir margen superior en modo oscuro */
}
/* En tu archivo BarChart.css */
/* Ajustes adicionales para los tooltips */

